<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Voici notre super application. Fait par Dalton Labrecque, Marie-Claire Lewandowski, Cynthia Paradis</p>
  </body>
</html>
